
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Autarco - Système d'arrosage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body>

    <div class="container">
      <header class="ui segment">
        <h1>Autarco - Système d'arrosage</h1>
      </header>

      <main id="app" class="ui segment">
        <h2>Gestion des zones</h2>
        <div class="ui two cards">
          <template v-for="zone in zones">
            <div class="card">
              <div class="content">
                <i class="right floated big blue theme icon" v-show="zone.isWatering"></i>
                <i class="right floated big idea icon" v-bind:class="{'yellow': zone.isLit}"></i>
                <div class="header">{{ zone.name }}</div>
                <div v-if="zone.isWatering" class="meta">En cours d'arrosage...</div>
                <div v-else class="meta">Inactif</div>
              </div>
              <div class="extra content">
                <div class="ui two basic buttons">
                  <button class="ui button" v-bind:disabled="!zone.wateringButton" v-bind:class="{'disabled': !zone.wateringButton, 'loading': !zone.wateringButton}" v-on:click="showModal(zone)">Arroser</button>
                  <button class="ui toggle button" v-bind:disabled="!zone.lightButton" v-bind:class="{'disabled': !zone.lightButton, 'active': !zone.lightButton ? !zone.isLit : zone.isLit }" v-on:click="toggleLight(zone)">Lampe</button>
                </div>
              </div>
            </div>
          </template>
        </div>

        <template v-for="zone in zones">
          <div id="modal-{{zone.id}}" class="ui small modal">
            <i class="close icon"></i>
            <div class="header">Arrosage {{zone.name}}</div>
            <div class="content">
              <div class="description">
                <div class="ui right labeled fluid input">
                  <input type="text" v-model="volume" placeholder="Entrer le nombre de litres..">
                  <div class="ui basic label">litres</div>
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="ui button">Cancel</div>
              <div class="ui primary button" v-on:click="confirmWatering(zone, volume)">OK</div>
            </div>
          </div>
        </template>

        <h2>Etat du système</h2>
        <div class="ui two cards">
          <div class="card">
            <div class="content">
              <i class="right floated big asterisk icon" v-bind:class="{'blue': isPumping, 'loading': isPumping}"></i>
              <div class="header">Pompe</div>
              <div v-if="isPumping" class="description">Etat: <strong>Actif</strong></div>
              <div v-else class="description">Etat: <strong>Inactif</strong></div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Compteur d'eau</div>
              <div class="description">
                Consommation: <b>{{ system.counter }}</b> litres
              </div>
            </div>
          </div>
        </div>

        <h2>Evenements en cours</h2>
        <p v-show="events.length == 0">Aucun événement en cours.</p>
        <template v-for="event in events">
          <div class="ui inverted segment">
            <div class="ui teal inverted small progress" data-percent="{{ event.percent }}">
              <div class="bar"></div>
              <p class="label">{{ event.zone }}: En arrosage...</p>
            </div>
          </div>
        </template>

      </main>

      <footer class="ui segment">
        <p>&copy; Autarco 2015. All rights reserved.</p>
        <p>Logan PAUL / Léo DEMICHELI / Mario FRIZ</p>
      </footer>

    </div>
    <script src="js/vue.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
